.page {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
}

.page-space {
  min-height: 100dvh;
}

@media (hover: hover) and (pointer: fine) {
  .page-space {
    width: 375px;
  }
}
